<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="js/jquery.min.js"></script>

</head>
<body>
<!-- header -->
<div class="top-banner">
	<div class="header">
		<div class="container">
			<div class="headr-left">
				<div class="social">							
					   <!-- <a href="/static/#"><i class="facebook"></i></a> -->
					   <!-- <a href="/static/#"><i class="twitter"></i></a>
					   <a href="/static/#"><i class="gplus"></i></a>	
					   <a href="/static/#"><i class="pin"></i></a>	
					   <a href="/static/#"><i class="youtube"></i></a>	 -->
				</div>
				<div class="search">
					<form>
						<input type="submit" value="">
						<input type="text" value="" placeholder="Search...">					 
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="headr-right">
				<div class="details">
					<ul>
						<li><a href="/static/mailto@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>771279043@qq.com</a></li>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+86)18774000429</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--banner-info-->	
	<div class="banner-info">
		 <div class="container">
			 <div class="logo">
					<h1><a href="/static/index.html">塔米信息科技有限公司</a></h1>
			 </div>
			<div class="top-menu">
				<span class="menu"></span>
				   <ul class="nav1">
						<li><a href="/static/index.html">主页</a></li>
						<li class="active"><a href="/static/about.html">团队</a></li>
						<li><a href="/static/reviews.html">案例</a></li>
						<li><a href="/static/typo.html">新闻</a></li>
						<li><a href="/static/gallery.html">服务</a></li>
						<li><a href="/static/contact.html">联系我们</a></li>
				 </ul>
			</div>	
	<!-- script-for-menu -->
					   <script>
							$( "span.menu" ).click(function() {
						   $( "ul.nav1" ).slideToggle( 300, function() {
						   // Animation complete.
							   });
							   });
					   </script>
				   <!-- /script-for-menu -->
			
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- banner -->
<div class="banner">		  			
		<div class="bnr2">						  
	   </div>			 
</div>
<!-- About -->
<div class="about">
	 <div class="container">
		 <h2>公司介绍 / Company introduction</h2>
		 <div class="about-info-grids">
			 <div class="col-md-5 abt-pic">
				 <img src="images/abt.jpg" class="img-responsive" alt=""/>
			 </div>
			 <div class="col-md-7 abt-info-pic">
				 <h3>用科技改变世界，做真正意义的事情，不忘初心。</h3>
				 <p>长沙塔米科技有限公司是一家以：“用科学让人幸福”为愿景的高新科技公司。注册资金500万元，专业从事虚拟现实、三维动画技术、AI、工业仿真软硬件一体化技术应用的高新技术企业。公司拥有工程辅助施工系统及现场自主建设系统两项发明专利，立志为客户提供各种专业的技术支持及项目服务。 
					公司在不断进取中求发展，把全新的虚拟现实技术和丰富项目开发经验充分运用到产品的制作系策划中去，依靠先进、可靠的产品质量和踏实、良好的售后服赢得广大用户的信任。
					公司热忱希望与社会各界朋友广泛合作，共享科技进步，携手共创美好明天！</p>
				 <ul>
					 <li>虚拟现实技术支持.</li>
					 <li>多媒体互动技术支持.</li>
					 <li>人工智能技术支持.</li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="testimonals">
				<h3>发展理念 / Development concept</h3>
				<div class="testimonal-grids">
					 <div class="col-md-4 testimonal-grid">
						 <div class="testi-info">
						 <p>""信息时代,虚拟仿真技术以其画面逼真精美,运行高效便捷,功能丰富实用,信息直观方便等优势逐渐应用在各个领域,尤其在教育领域,虚拟仿真教育即将成为未来教育的新趋势.亲身去经历,去感受比空洞抽象的说教更具说服力,主动地去交互与被动的观看,有质的差别.""</p>
						 <h4>虚拟现实教育</h4>
						 <a href="mailto:example@gmail.com">Virtual reality Education</a>
						 </div>
					 </div>
					 <div class="col-md-4 testimonal-grid">
						 <div class="testi-info">
						 <p>""虚拟现实是以视觉表达为主体的一种艺术表现形式。视觉艺术在人类历史进程中起着重要的作用，古老的壁画、西汉的皮影，以及近现代的影视艺术等，均是社会历史阶段经济生活及科技水平的写照，承载着人类文明的精华，可以带来梦幻般的多感官体验。""</p>
						 <h4>VR互动</h4>
						 <a href="mailto:example@gmail.com">VR interaction</a>
						 </div>
					 </div>
					 <div class="col-md-4 testimonal-grid">
						 <div class="testi-info">
						 <p>""……这一切都将引出一种新的计算理论，它不再受限于过去那种非此即彼的、确定的形式逻辑……许多线索都令我们相信，这种新的形式逻辑系统，将会更加靠近另一个在过去与逻辑很少产生联系的学科，那就是以玻尔兹曼所提出的形式为主的热力学""</p>
						 <h4>人工智能</h4>
						 <a href="mailto:example@gmail.com">Artificial intelligence</a>
						 </div>
					 </div>
					 <div class="clearfix"></div>
				</div>
		   </div>
		   <div class="team">
			  <h3>公司团队 / Our Team</h3>	  
			  <div class="grid_4">
				<div class="team-grid">
						   <img src="images/manger1.gif" alt="">
						   <h4>朱劼.</h4>
						  <p>首席计算机技术科学家，毕业于国防科技大学，研究生哈工大，10年计算机科学经验. </p>
					  </div>
			  </div>
			  <div class="grid_4">
				 <div class="team-grid">
						   <img src="images/manger2.gif" alt="">
						   <h4>张文韬.</h4>
						  <p>首席软件构架师.毕业于国防科技大学，10年计算机软件经验，擅长开发vr ar等虚拟现实软件.  </p>
					  </div>
			  </div>
			  <div class="grid_4 span66">
				<div class="team-grid">
						   <img src="images/manger3.jpg" alt="">
						   <h4>伍敏.</h4>
						  <p>首席三维模型师，8年三位模型技术研究，熟悉各种三维，图形图像软件. </p>
					  </div>
			  </div>      
			  <div class="grid_4">				 
					  <div class="team-grid">
						   <img src="images/manger4.gif" alt="">
						   <h4>谈敏.</h4>
						  <p>首席设计师，10年设计经验，是公司的ui，平面设计，影视，仿真软件的美术总指导. </p>
					  </div>					  
			 </div>
			 <div class="clearfix"></div> 
		  </div>
	 </div>
</div>
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 ftr-info">
				<h3>关于我们</h3>
				<p>成立于2010年，10年的虚拟现实、软件开发、硬件开发经验
					致力于打造最有用的教学工具.</p>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>目录导航</h3>
				<ul class="ftr-list">
					<li><a href="#">公司介绍</a></li>
					<li><a href="#">案例欣赏</a></li>
					<li><a href="#">新闻</a></li>
					<li><a href="#">服务</a></li>
					<li><a href="#">联系方式</a></li>
				</ul>				 
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>使用平台</h3>
				<ul class="ftr-list">
					<li><a href="#">unity3d</a></li>
					<li><a href="#">ue4</a></li>
					<li><a href="#">python</a></li>					 
					<li><a href="#">c++</a></li>
					<li><a href="#">tensorflow</a></li>
				</ul>				 
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>联系我们</h3>
				<ul class="ftr-list">	
					<li><a href="#">网站</a></li>
					<li><a href="#">邮箱</a></li>
					<li><a href="#">电话</a></li>
					<li><a href="#">地图</a></li>					 
				</ul>				 
			</div>		
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!---->
<div class="copywrite">
	<div class="container">
		<p>Copyright &copy; 2020.Tammy All rights reserved.<a target="_blank" href="/static/http://sc.chinaz.com/moban/">;</a></p>
	</div>
</div>
<!---->



</body>
</html>