<!DOCTYPE HTML>
<html>
<head>
<title>Single</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="js/jquery.min.js"></script>

</head>
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<div class="headr-left">
			<div class="social">							
				   
			</div>
			<div class="search">
				<form>
					
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="headr-right">
			<div class="details">
				<ul>
					<li><a href="/static/mailto@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>771279043@qq.com</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+86)18774000429</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--banner-info-->	
<div class="banner-info">
	<div class="container">
		<div class="logo">
			   <h1><a href="/static/index.html">塔米信息科技有限公司</a></h1>
		</div>
	   <div class="top-menu">
		   <span class="menu"></span>
			  <ul class="nav1">
				   <li><a href="/static/index.html">主页</a></li>
				   <li><a href="/static/about.html">团队</a></li>
				   <li class="active"><a href="/static/reviews.html">案例</a></li>
				   <li><a href="/static/typo.html">新闻</a></li>
				   <li><a href="/static/gallery.html">服务</a></li>
				   <li><a href="/static/contact.html">联系我们</a></li>
			</ul>
	   </div>	
<!-- script-for-menu -->
				  <script>
					   $( "span.menu" ).click(function() {
					  $( "ul.nav1" ).slideToggle( 300, function() {
					  // Animation complete.
						  });
						  });
				  </script>
			  <!-- /script-for-menu -->
	   
	   <div class="clearfix"></div>
   </div>
</div>
<!-- banner -->
<div class="banner">		  			
		<div class="bnr2">						  
	   </div>			 
</div>
<!---->
<div class="blog">
		<div class="container">
			<div class="col-md-8 blog-left" >
				<div class="blog-info">
					<h4>锡林通职飞机维修模拟仿真</h4>
					<div class="blog-info-text">
						<!-- <h4>株洲铁道电汽智能化模拟仿真</h4> -->
						<div class="blog-img">
							<img src="images/feiji1.jpg" alt=""/>
						</div>
						<p class="snglp">湖南铁道职业学院模拟仿真训练系统是针对电器控制的多项目模拟训练综合平台，他由软件和外部可编程可接线的硬件组合而成。
							平台采用虚拟仿真的方式代替食物，让学员编程以后马上可以在虚拟场景中看到自己控制对应设备的运行.。
							平台同时训练了学员的编程能力，走线能力等。并且还有电路图的解释。  
							平台包含了平板小车、电机、机械臂、大小球分拣、电梯、洗衣机、等12种常见控制对象的模拟仿真。</p>	
						<div class="blog-img">
							<img src="images/feiji2.jpg" alt=""/>
						</div>	
						<p class="snglp">平板小车模拟。</p>
						<div class="blog-img">
							<img src="images/feiji3.jpg" alt=""/>
						</div>						
						<p class="snglp">机械手模拟。</p>
						<p>

						</p>						
					</div>
					<div class="comment-icons">
						<ul>
							<li><span></span><a href="#">桌面虚拟仿真</a> </li>
							<li><span class="clndr"></span>MARCH 1, 2013</li>
							<li><span class="admin"></span> <a href="#">唐老师</a></li>
							<li><span class="cmnts"></span> <a href="#">保密</a></li>
							<li><a href="#" class="like">15</a></li>
						</ul>
					</div>
					
				</div>
				<div class="coment-form">
					
				</div>
			</div>	
			<div class="col-md-4 single-page-right">
				<div class="category blog-ctgry">
					<h4>锡林通职飞机维修模拟仿真</h4>
					<div class="list-group">
						<a href="single.html" class="list-group-item">智能平板小车模拟训练</a>
						<a href="single.html" class="list-group-item">智能机械臂模拟训练</a>
						<a href="single.html" class="list-group-item">混料管控制模拟训练</a>
						<a href="single.html" class="list-group-item">大小球分拣模拟训练</a>
						<a href="single.html" class="list-group-item">电机结构控制模拟训练</a>
						<a href="single.html" class="list-group-item">传送带控制训练</a>
						<a href="single.html" class="list-group-item">洗衣机控制模拟训练</a>
						<a href="single.html" class="list-group-item">剪板机控制模拟训练</a>
					</div>
				</div>	
				
			</div>
			<div class="clearfix"> </div>
		</div>	
</div>	
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 ftr-info">
				<h3>关于我们</h3>
				<p>成立于2010年，10年的虚拟现实、软件开发、硬件开发经验
					致力于打造最有用的教学工具.</p>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>目录导航</h3>
				<ul class="ftr-list">
					<li><a href="#">公司介绍</a></li>
					<li><a href="#">案例欣赏</a></li>
					<li><a href="#">新闻</a></li>
					<li><a href="#">服务</a></li>
					<li><a href="#">联系方式</a></li>
				</ul>				 
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>使用平台</h3>
				<ul class="ftr-list">
					<li><a href="#">unity3d</a></li>
					<li><a href="#">ue4</a></li>
					<li><a href="#">python</a></li>					 
					<li><a href="#">c++</a></li>
					<li><a href="#">tensorflow</a></li>
				</ul>				 
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>联系我们</h3>
				<ul class="ftr-list">	
					<li><a href="#">网站</a></li>
					<li><a href="#">邮箱</a></li>
					<li><a href="#">电话</a></li>
					<li><a href="#">地图</a></li>					 
				</ul>				 
			</div>		
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!---->
<div class="copywrite">
	<div class="container">
		<p>Copyright &copy; 2020.Tammy All rights reserved.<a target="_blank" href="/static/http://sc.chinaz.com/moban/">;</a></p>
	</div>
</div>
<!---->

 


</body>
</html>